<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="widgetsFrame">
		<centered>1</centered>
		<icon code="wx_file_path" />
		<size>960,720</size>
		<minsize>480,240</minsize>
		<id_arg>0</id_arg>
		<object class="wxAuiManager" variable="aui_manager_" member="yes">
			<object class="AuiManagerItem">
				<object class="wxAuiToolBar" name="ID_AUI_TOOL_BAR" variable="aui_tool_bar_" member="yes">
					<size>400,36</size>
				</object>
				<name>tool__bar</name>
				<standardpanetype>Toolbar</standardpanetype>
				<caption>Tool Bar</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<layer>10</layer>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<resizable>0</resizable>
				<gripper>Default</gripper>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxAuiNotebook" name="ID_AUI_NOTEBOOK_MANAGEMENT" variable="aui_notebook_management_" member="yes">
					<size>250,-1</size>
					<minsize>120,60</minsize>
				</object>
				<name>notebook__management</name>
				<caption>Management</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_MAIN_PANEL" variable="main_panel_" member="yes" />
				<name>main__panel</name>
				<caption>Main Panel</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenuBar" variable="menu_bar_ptr" member="no">
			<object class="wxMenu" variable="menu_file_ptr" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENU_FILE_OPEN_FILE" variable="menu_file_open_file_ptr" member="no">
					<label>Open File...</label>
					<accel>Ctrl-O</accel>
					<help>Open a file</help>
					<handler function="on_open_file" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_FILE_EXIT" variable="menu_file_exit_ptr" member="no">
					<label>Exit</label>
					<accel>Alt-F4</accel>
					<help>Exit the application</help>
					<handler function="on_exit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="menu_help_ptr" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="ID_MENU_HELP_ABOUT" variable="menu_help_about_ptr" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="on_about" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUS_BAR" variable="status_bar_ptr_" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="open_file_dialog_ptr_" member="yes">
			<message>Select file</message>
		</object>
	</object>
</wxsmith>
